<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logs</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.4.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script>
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/gs-guide-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/logs', function (log) {
                    showLog(log.body);
                });
            });
        }

        function showLog(message) {
            var logElement = document.createElement("div");
            logElement.appendChild(document.createTextNode(message));
            document.getElementById("logs").appendChild(logElement);
        }

        window.onload = function() {
            connect();
        };
    </script>
</head>
<body>
<h1>Server Logs</h1>
<div id="logs"></div>
</body>
</html>
